.modal-overlay {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #ffffff;
    color: #000;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #000;
    position: relative;
    font-family: "Josefin Sans", serif; 
    width: 400px;
}

.modal-content h2 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.modal-content p {
    text-align: center;
}

.error {
    margin-top: -0.5rem;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-content input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6b656591;
    font-family: "Josefin Sans", serif;
    font-weight: 600;
    background-color: #000;
    color: #fff;
}

.modal-content form button {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}

.modal-content form button:hover,
.modal-content form button:focus {
    background-color: #fff;
    color: #000;
}

.switch-link {
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Josefin Sans", serif;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s;
}

.switch-link:hover {
    color: #3f5feb;
    font-weight: 800;
}

@media screen and (max-width: 350px) {
    .modal-content {
        padding: 1rem 0.5rem;
    }
}