.intro-page {
    padding: 1rem 2rem;
    font-family: "Josefin Sans", serif;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    height: 100vh;
}

.intro-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.intro-register-btn {
    font-family: "Josefin Sans", serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 1px 2px 4px #000;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in;
}

.intro-register-btn:hover {
    color: #fff;
    background-color: #5b5f5f;
}

.intro-login-btn {
    background: transparent;
    border: none;
    margin-right: 1rem;
    font-family: "Josefin Sans", serif;
    font-size: 1rem;
    font-weight: 800;
    color: transparent;
    cursor: pointer;
    text-shadow: 0px 0px 4px #000;
    transition: all 0.3s;
}

.intro-login-btn:hover {
    color: #7a5401;
    text-shadow: none;
}

.intro-content {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a56e08fd;
}

.intro-h2 {
    font-size: 4rem;
    margin: 0.5rem;
    margin-top: 4rem;
    text-align: center;
}

.intro-sent {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: #BF9E7F;
    margin-bottom: 0.4rem;
    text-align: center;
    max-width: 1000px;
}

.intro-p {
    font-size: 2rem;
    font-weight: 700;
    color: #5b5f5fab;
    margin-top: 2rem;
    margin-bottom: 0;
}

.intro-content-list {
    background-color: #886626fd;
    color: #e7e5e5;
    padding: 10px 30px;
    border-radius: 5px;
}

.intro-content-list li {
    margin: 0.2rem;
    color: #fff;
}

.gold-touch {
    color: transparent;
    background-image: linear-gradient(
          to right,
           #462523 0,
           #cb9b51 22%, 
           #f6e27a 45%,
           #f6f2c0 50%,
           #f6e27a 55%,
           #cb9b51 78%,
           #462523 100%
        );
    -webkit-background-clip: text;
    background-clip: text;
}

@media screen and (max-width: 800px) {
    .intro-page-header h1 {
        font-size: 1.8rem;
    }

    .intro-h2 {
        font-size: 2.8rem;
    }

    .intro-p {
        font-size: 1.5rem;
    }

    .intro-content-list li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 610px) {
    .intro-page-header h1 {
        font-size: 1.5rem;
    }

    .intro-h2 {
        font-size: 2.2rem;
    }

    .intro-p {
        font-size: 1.2rem;
    }

    .intro-content-list li {
        font-size: 0.8rem;
    }
    
    .intro-login-btn {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .intro-page-header h1 {
        font-size: 1.2rem;
    }

    .intro-h2 {
        font-size: 1.8rem;
    }

    .intro-sent {
        font-size: 1.2rem;
    }
    
    .intro-content-list {
        padding: 0.5rem;
        list-style: none;
    }
}

@media screen and (max-width: 400px) {
    .intro-content {
        top: 40px;
    }

    .intro-page-header h1 {
        font-size: 1.8rem;
        margin-top: 0.5rem;
    }

    .intro-h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .intro-content-list {
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        background-color: #ffffff9f;
    }

    .intro-content-list li {
        margin: 0.5rem;
        color: #2e3030;
        font-size: 0.9rem;
        text-align: center;
    }

    .intro-page-header {
        flex-direction: column;
    }

    .intro-header-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .intro-sent {
        color: #2e3030;
        font-size: 1rem;
        margin: 0 0.5rem;
    }

    .intro-login-btn {
        display: block;
        color: #000;
        text-shadow: none;
    }
    
}