.spinner {
    border: 2px solid #0000009f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-left-color: #ff0000;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}