.password-strength-checker {
    font-family: "Josefin Sans", serif;
}

.password-strength-checker input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6b656591;
    font-family: "Josefin Sans", serif;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    width: calc(100% - 22px);
}

.password-rules {
    list-style: none;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    padding: 0;
    
}

.password-rules li {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkmark {
    width: 18px;
    margin: 0 0.5rem;
}

.xmark {
    width: 18px;
    margin: 0 0.5rem;
}

.rules-lis {
    align-self: flex-end;
}